@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.text-muted {
  --vz-text-opacity: 1;
  color: var(--vz-secondary-color) !important;
}

.collapse {
  visibility: visible;
}

.btn {
  box-shadow: none;
}

.navbar-menu .navbar-nav .nav-link {
  padding: .75rem 0.5rem;
}

.navbar-menu .navbar-nav .nav-link {
  color: #a3a6b7;
}


button:hover .fa-check {
  color: white; 
}

.dark .bg-primaryColor {
  @apply bg-secondaryColor; 
}